@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
$border: HSLA(0, 0%, 70%, 1);

.heroUnit{
  margin-top:10px;
  img{
    display: block;
    margin: 0 auto;
  }
}
.newsBar{
  display:block;
  margin:10px auto;
  max-width:800px;
  height:250px;
  /*border-style:solid;*/

  div{
    width:30%;
    border-style: solid;
    height:100%;
    float:left;
    margin-right:39px;
    background-color:$border;
    padding:5px;

    h4{
      text-align:left;
      padding-left:5px;
      width:100%;
      border-bottom-style:solid;
      border-width:1px;
      display:inline-block;
      margin:0;
      font-size:13px;
      font-family: 'Merriweather', serif;
      font-weight:bold;

    }

  }
  #location{
    float:right;
    margin:0;
  }
}
