@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$border: HSLA(0, 0%, 70%, 1);
$newsBoxes: HSLA(0, 0%, 92%, 1);

.heroUnit{
  margin-top: 10px;
  img {
    display: block;
    margin: 0 auto;
  /*  border-radius:5px;*/
  }
}


.newsBar {
  display: block;
  margin: 0% auto;
  height: 340px;
  overflow: hidden;
  /*border-style:solid;*/

  .leftBarBox, .rightBarBox {
    width: 33%;
    height: 340px;
    float: left;
    margin: 0% 0.1%;
    padding: 0px;

    h4 {
      text-align: left;
      padding-left: 5%;
      width: 100%;
      border-bottom: 1px solid $border;
      display: inline-block;
      padding-bottom: .5em;
      margin: 0;
      font-size: 3em;
      font-family: 'Tangerine', cursive, serif;
      font-weight: bold;
      color: HSLA(0, 0%, 40%, 1);
      text-align: center;
    }
  }
}
#latestNews{
  p {
    display: block;
    width: 100%;
    padding: 1em 4em 0em 4em;
  }
}
#todaysSpecial {
  p {
    padding: 1em 4em 0em 4em;
  }

  #specialsImage {
    border-style: solid;
    display: block;
    width: 100%;
    height: 60%;
  }
  span {
    margin-left: auto;
    margin-right: auto;
  }

}
#location {

  #googleMaps {
    border-style: solid;
    display: block;
    width: 100%;
  }
  .address {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
  }
  .contactInfo { /* information under map */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 11em;
    display: block;
    list-style: none;
    clear: both;
    li {
      float:left;
      margin-right:10px;
    }
  }
}

a.trigger{
  position: relative;
  text-decoration: none;
  font-family: 'Tangerine', cursive, serif;
  padding: 1em 0em 0em 0em;
  font-size: 9em;
  letter-spacing:-1px;
  color:#fff;
  font-weight: 700;
  background: #333333;
  border: 1px solid #444444;
  display: block;
  height: 100%;
  margin: 0px;
  margin-bottom: -315px;
  text-align: center;
  opacity: .9;
  transition: opacity .8s;
}

.foodPics { /* food pictures on the right side */
  display:block;
  float:right;
  width:20%;
  text-align:center;

  h4 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;

  }
  .foodImgList {
    padding: 0;
  .foodImg {
    height: 200px;
    width: 200px;
    border: 1px solid $border;
    display: block;
    float: right;
    margin-bottom: 25px;
    }
  }
}
.commentsCont {
  overflow: auto;
  margin-left: -30em;
  .commentForm {
    float: left;
    margin-top: 30px;

  }
}
