$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
$border: HSLA(0, 0%, 70%, 1);

/* Header */
.header {
  font-size: 5em;
  font-family: 'Tangerine', cursive, serif;
  line-height: 0em;
  overflow: auto;
  border-bottom: 1px solid $border;
  margin-bottom: 10px;

}
h1 {
  color: $red;
  float: left;
  margin-left:25px;
  margin-top:80px;
}

/* Social Media */
.socialMedia {
  float: right;
  display: block;
  font-family: 'Merriweather', serif;
  margin: 0 auto 0px auto;
  padding: 1%;
  color: $charcoal;
  /* border: 1px solid \$border; */
  background-color: HSLA(0, 0%, 97%, 1);
  overflow: auto;
  padding-bottom:0;
  span {
    font-size: .3em;
  }
  ul {
    display: block;
    padding-left: 0px;
    margin-bottom:0;
    margin-top: 100px;
    margin-right: 10px;
  }
  li {
    list-style-type: none;
    display: inline;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

/* Big Image in Front */
.heroUnit {
  img {
    width: 100%;
    height: 500px;
  }
}

/* Menu STYLEZ */
