// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
$border: HSLA(0, 0%, 70%, 1);



/* Header */
.header {
  font-size: 5em;
  font-family: 'Tangerine', cursive, serif;
  line-height: 0em;
  border-bottom: 1px solid HSLA(0, 0%, 70%, 1);
  margin-bottom: 10px;
  background-image: url('https://curtisvoisin.files.wordpress.com/2012/05/dscn0116.jpg');
  background-size:1425px 700px;
  max-width: 1425px;
  height: 700px;
  position:relative;

 .topSpot{
    display:block;
    height:700px;
    background-color:$red;
    opacity:.7;

  }
}
.logo{
  h1 {
    color: white;
    float: left;
    margin-top: 80px;
    position: absolute;
    font-size: 3em;
    margin: 0.67em 0;
    margin-left: 1em;
    bottom: 350px;
    text-shadow: black 5px 8px;
  }
}
/* Social Media */
.socialMedia {
  float: right;
  display: block;
  font-family: 'Merriweather', serif;
  margin: 0 auto 0px auto;
  padding: 1%;
  color: $charcoal;
  /* border: 1px solid \$border; */
  overflow: auto;
  padding-bottom:0;
  position: absolute;
  top: 10px;
  right: 10px;

  span {
    font-size: .3em;
    color:white;
  }
  ul {
    display: block;
    padding-left: 0px;
    margin:0;

  }
  li {
    list-style-type: none;
    display: inline;
    img {
      width: 25px;
      height: 25px;
      border-radius: 2em;
    }
  }
}

/* Big Image in Front */
.heroUnit {
  img {
    width: 100%;
    height: 500px;
  }
}

/* Menu STYLEZ */
h2 {
  font-size: 6.5em;
  border-bottom: 1px solid $border;
  font-weight: bold;
  padding-bottom: 10px;
  clear: both;
  font-family: 'Tangerine', cursive, serif;
  margin-top: 0px;
}
h3 {
  font-size: 4.5em;
  padding-left: 1%;
  display: block;
  clear: both;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  top: -2em;
  padding-top: 2em;
  &:before {
  float: left;
  max-width: 100%;
  white-space: nowrap;
  padding-left: 0px;
  line-height: 1.8em;
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  }
  span {
    float: right;
    font-size: .6em;
  }
  .items {
    font-size: .7em;
    position: relative;
    top: -4em;
    padding-top: 2em;
    background-color: HSLA(0, 0%, 98%, 1);
  }
  .prices {
    font-size:.7em;
    position: relative;
    top: -4em;
    padding-top: 2em;
    background-color: HSLA(0, 0%, 98%, 1);
  }


}
.appsMenu, .entreeMenu, .sidesMenu {
  clear: both;
}
.menuDesc {
  float: left;
  width: 70%;
  padding-left: 10%;
  padding-right: 5%;
  border-right: 1px solid $border;
  font-size: 2em;
  margin-top: -10em;
}
.foodStats {
  max-width: 35%;
  display: inline-block;
  //padding: 0% 2%;
  padding-left:.5em;
  img {
    width: 3em;
    padding-left: 1%;
    &:hover {
      width: 3.5em;
    }
  }
}

/* Hide and Show Tab Content */
.hide {
  display: none;
}
