$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
$border: HSLA(0, 0%, 70%, 1);

/* Header */
.header {
  font-size: 8em;
  font-family: 'Tangerine', cursive, serif;
  line-height: 0.5em;
  overflow: auto;
  border-bottom: 1px solid $border;
  margin-bottom: 10px;
}
h1 {
  color: $red;
  float: left;
}

/* Social Media */
.socialMedia {
  float: right;
  display: block;
  font-family: 'Merriweather', serif;
  font-size: .2em;
  margin: 75px auto 0px auto;
  padding: 1%;
  color: $charcoal;
  /* border: 1px solid \$border; */
  background-color: HSLA(0, 0%, 97%, 1);
  overflow: auto;
  span {
  }
  ul {
    display: block;
    padding-left: 0px;
  }
  li {
    list-style-type: none;
    display: inline;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

/* Big Image in Front */
.heroUnit {
  img {
    width: 100%;
  }
}
