.foodPics {
  height: 80em;
  color: $charcoal;
  margin-top: 5em;
}

.foodImgList {
  height: 80em;
  border-radius: 2%;
  margin: 0;
  overflow: auto;
  border:1px solid $charcoal;
}

.foodImgList li img {
  width: 100%;
}

#flyingPig {
  position: absolute;
  left: 50px;
  top: 50px;
  content: url("../app/images/icon_50704-white.png");
  height: 200px;
  width: 500px;
}

/* #flyingPig:hover {
  content: url("../app/images/icon_50704-white-4.png");
  animation-duration: 30s;
  animation-name: fly;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */


@keyframes fly {
  from {
    content: url("images/icon_50704-white.png");
  }
  to {
    content: url("images/icon_50704-white-4.png");
  }
}
