.foodPics {
  height: 80em;
  color: $charcoal;
  margin-top: 5em;
}

.foodImgList {
  height: 80em;
  border-radius: 2%;
  margin: 0;
  overflow: auto;
  border:1px solid $charcoal;
}

.foodImgList li img {
  width: 100%;
}

#flyingPig {
  width: 90px;
  height: 105px;
  margin: 2% auto;
  background: url('../images/pig-sprite.png') left center;
  animation: play .8s steps(6) infinite;
}

@keyframes play {
	100% { background-position: -540px; }
}
