.foodPics {
  height: 120em;
  color: $charcoal;
  margin-top: 2em;
}

.foodImgList {
  height: 100%;
  margin: 0;
  overflow: auto;
  /* border:1px solid \$charcoal; */
}

.foodImgList li img {
  width: 100%;
}

#flyingPig {
  position: absolute;
  z-index: 100;
  width: 90px;
  height: 105px;
  margin: 2% auto;
  background: url('../images/pig-sprite.png') left center;
  animation: play .8s steps(6) infinite,
  rotate 3s infinite alternate,
  hover 16s infinite alternate;
}

#flyingPig2 {
  position: absolute;
  z-index: 100;
  width: 90px;
  height: 105px;
  margin: 2% auto;
  background: url('../images/pig-left-sprite.png') left center;
  animation: play .8s steps(6) infinite,
  rotate 3s infinite alternate,
  hover2 16s infinite alternate;
}

@keyframes play {
	100% { background-position: -540px; }
}


@keyframes rotate {
  from{
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@keyframes hover {
  0% {
    left: 0%;
    top: 0%;
    transform: translateX(15%);
    transform: translateY(15%);
  }
  25%{
    left: 15%;
    top: 15%;
    transform: translateX(25%);
    transform: translateY(35%);
  }
  50% {
    left: 25%;
    top: 35%;
    transform: translateX(10%);
    transform: translateY(40%);
  }
  75%{
    left: 10%;
    top: 40%;
    transform: translateX(50%);
    transform: translateY(35%);
  }
  100% {
    left: 50%;
    top: 35%;
    transform: translateX(0%);
    transform: translateY(0%);

  }

}

@keyframes hover2 {
  0% {
    left: 70%;
    top: 10%;
    transform: translateX(55%);
    transform: translateY(35%);
  }
  25% {
    left: 55%;
    top: 35%;
    transform: translateX(65%);
    transform: translateY(35%);
  }
  50% {
    left: 65%;
    top: 35%;
    transform: translateX(50%);
    transform: translateY(10%);
  }
  75%{
    left: 50%;
    top: 10%;
    transform: translateX(60%);
    transform: translateY(50%);
  }
  100% {
    left: 60%;
    top: 50%;
    transform: translateX(70%);
    transform: translateY(10%);

  }

}
