$border: HSLA(0, 0%, 70%, 1);
$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);


.leftStoryboard {
  position: relative;
  min-height: 250px; /* This part sucks */
  clear: both;
  margin: 25px 0;
  margin-left: 50px;
}
.ourStory, .menu, .reservations {
  float: left;
}
.ourStory label, .menu label, .reservations label {
  padding: 7px;
  border: 1px solid $border;
  margin-left: -1px;
  position: relative;
  left: 1px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: $red;
}

.ourStory [type=radio] {
  display: none;
}

.menu [type=radio] {
  display: none;
}

.reservations [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: HSLA(0, 0%, 98%, 1);
  right: 0;
  bottom: 0;
  padding: 20px;
  color: $charcoal;
}

[type=radio]:checked ~ label {
  background: HSLA(0, 0%, 98%, 1);
  border-bottom: none;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
