$border: HSLA(0, 0%, 70%, 1);
$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);


.leftStoryboard {
  position: relative;
  min-height: 800px;
  clear: both;
  width: 70%;
  margin: 25px 0;
  /* margin-left: 50px; */
  float: left;
  max-height: 1200px;
}
.ourStory, .menu, .reservations {
  float: left;
}

.ourStory label, .menu label, .reservations label {
  padding: 7px;
  border: 1.5px solid $border;
  margin-left: -1px;
  position: relative;
  left: 1px;
  font-family: 'Merriweather', serif;
  color: $red;
  font-size: 2.5em;
}

.ourStory [type=radio] {
  display: none;
  font-size: 2.0em;
}

.menu [type=radio] {
  display: none;
}
.reservations [type=radio] {
  display: none;
}
.mainContent{
  display:block;
  //overflow:auto;
  width: 100%
}//fixed this to push the footer down
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: HSLA(0, 0%, 98%, 1);
  right: 0;
  bottom: 0;
  padding: 20px;
  color: $charcoal;
  font-size: .5em;
}
.foodPics {
  width: 30%;
  img {
    width: 50%;
  }
  li {
    width: 100%;
    display: block;
  }
}
.about {
  //position: absolute;
  top: 28px;
  left: 0;
  background: HSLA(0, 0%, 98%, 1);
  right: 0;
  bottom: 0;
  padding: 15px;
  color: $charcoal;
  font-size: 2.5em;
}

[type=radio]:checked ~ label {
  background: HSLA(0, 0%, 98%, 1);
  border-bottom: none;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

// Reservations input fields

input, textarea {
    padding: 15px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% 'Merriweather', serif;
    width: 275px;
    background: #FFFFFF url('bg_form.png') left top     repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    color: $red;
    }

textarea {
    width: 350px;
    max-width: 400px;
    height: 125px;
    line-height: 150%;
    }

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: $red;//#C9C9C9; original color hover
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }

.form label {
    margin-left: 10px;
    color: $charcoal;
    border: none;
    float:left;
    width: 200px;
    }

.submit input {
    width: auto;
    padding: 9px 15px;
    background: $red;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    margin-top:15px;
    //-moz-border-radius: 5px;
    //-webkit-border-radius: 5px;
    }

.reservation {
  position: absolute;
  top: 55px;
  left: 0;
  background: HSLA(0, 0%, 98%, 1);
  right: 0;
  bottom: 0;
  padding: 20px;
  color: $charcoal;
  font-size: .5em;
  p {
    width: 30px;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
