 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'matt';
@import 'paul';
@import 'tom';
@import 'wendy';

// Custom Styles
$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
/* Global Styles*/
body {
  background: #fafafa;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
}
img {
  max-width: 100;
}
/* Container */
.container {
  margin: 0 auto;
  width: 1200px;
}
