 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'matt';
@import 'paul';
@import 'tom';
@import 'wendy';

// Custom Styles
$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
/* Global Styles*/
body {
  background: #fafafa;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
}
img {
  max-width: 100;
}
/* Container */
.container {
  margin: 0 auto;
  width: 130em;
  padding-left: 1em;
}
.footer{
  border: 1px solid $border;
  clear: both;
  height: 25em;
  background-color: $red;
  p{
    margin-bottom:0;
    
  }

  span {
    display: block;
    float: left;
    font-family: 'Tangerine', cursive, serif;
    font-size: 8em;
    margin-top: 1em;
    margin-left: 1em;
  }
  .copyright {
    display: inline-block;
    font-family: 'Merriweather', serif;
    clear: left;
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1em;
    float: left;
  }
  p {
    float: right;
    font-family: 'Tangerine', cursive, serif;
    font-size: 3em;
    margin-top: 0em;
    margin-right: 10px;

  }
}

hr {
  margin-left: -4em;
  margin-right: -3em;
  overflow: hidden;
  /* width: 500em; */
}
