 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import 'matt';
@import 'paul';
@import 'tom';
@import 'wendy';

// Custom Styles
$charcoal: HSLA(0, 0%, 40%, 1);
$red: HSLA(0, 100%, 34%, 1);
/* Global Styles*/
body {
  background: #fafafa;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
}
img {
  max-width: 100;
}
/* Container */
.container {
  margin: 0 auto;
  width: 130em;
}
.footer{
  border: 1px solid $border;
  clear: both;
  height: 25em;
  background-color: $red;

  span {
    display: block;
    float: left;
    margin-top: 46px;
    margin-left: 15px;
    font-family: 'Tangerine', cursive, serif;
    font-size: 50px;
  }
  .date {
    font-size: 27px;
    margin-top: 63px;
  }
  p {
    float: right;
    font-family: 'Tangerine', cursive, serif;
    font-size: 26px;
    margin-top: 62px;
    margin-right: 10px;

  }
}
hr {
  margin-left: -4em;
  margin-right: -4em;
  overflow: hidden;
  /* width: 500em; */
}
